.jumbotron {
    margin-top: 30px;
}

.progress .progress-bar {
    height: 30px;
    padding-top: 7px;
    font-weight: 700;
}

.card-group {
    margin-bottom: 30px;
}

.card-group.voted .card {
    opacity: 0.4;
}

.card-group.voted .card.voted {
    opacity: 1.0;
}
